<a href="https://colab.research.google.com/github/suyash091/Acute-Liver-Failure/blob/master/Acute%20Liver%20Failure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**IMPORTING THE DATASET**

In [21]:
import os
os.environ['KAGGLE_USERNAME'] = "suyash091"
os.environ['KAGGLE_KEY'] = "9775b0a6da90b12a0c284d71e498de43"
#!kaggle datasets download -d sulianova/cardiovascular-disease-dataset #CardioVascular
#!kaggle datasets download -d ronitf/heart-disease-uci #Artilleryblockade

Downloading heart-disease-uci.zip to /content
  0% 0.00/3.40k [00:00<?, ?B/s]
100% 3.40k/3.40k [00:00<00:00, 2.87MB/s]

**Extracting zipfile**

In [0]:
#!unzip -q '/content/cardiovascular-disease-dataset.zip' 
!unzip -q '/content/heart-disease-uci.zip'

In [0]:
import pandas as pd

**Data Preprocessing**

In [0]:
#Fixing structure
# Read in the file
with open('/content/ALF_Data.csv', 'r') as file :
  filedata = file.read()

# Replace the target string
filedata = filedata.replace(';', ',')

# Write the file out again
with open('/content/ALF_Data.csv', 'w') as file:
  file.write(filedata)

In [41]:
#Load Data
cvd=pd.read_csv('/content/ALF_Data.csv').dropna()#.apply(lambda x: x/x.max(), axis=0)
cvd.describe()

               Age       Weight  ...  Chronic Fatigue          ALF
count  4322.000000  4322.000000  ...      4322.000000  4322.000000
mean     48.023832    79.624489  ...         0.023369     0.066404
std      18.262509    19.283464  ...         0.151089     0.249017
min      20.000000    34.500000  ...         0.000000     0.000000
25%      32.000000    65.900000  ...         0.000000     0.000000
50%      46.000000    77.400000  ...         0.000000     0.000000
75%      63.000000    90.100000  ...         0.000000     0.000000
max      85.000000   193.300000  ...         1.000000     1.000000

[8 rows x 27 columns]

In [35]:
cvd.head()

   Age Gender Region  Weight  ...  Hepatitis  Family Hepatitis  Chronic Fatigue  ALF
0   65      M   east    56.0  ...        1.0               0.0              0.0  0.0
1   36      M  south    60.2  ...        0.0               0.0              0.0  0.0
2   66      M   east    83.9  ...        0.0               0.0              0.0  0.0
3   54      M   east    69.4  ...        0.0               0.0              0.0  0.0
4   63      M  north    73.1  ...        0.0               0.0              0.0  0.0

[5 rows x 30 columns]

In [0]:
#For K-fold cross validation
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=100)
outcome_var = ['ALF']
predictor_var = ['Age', 'Weight', 'Height','Body Mass Index','Obesity', 'Waist','Maximum Blood Pressure','Minimum Blood Pressure',	'Good Cholesterol',	'Bad Cholesterol', 'Dyslipidemia', 'PVD','Physical Activity',	'PoorVision',	'Alcohol Consumption', 'HyperTension', 'Diabetes','Hepatitis','Chronic Fatigue']

In [0]:
#Import models from scikit learn module:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import KFold
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn import metrics
import numpy as np

#Generic function for making a classification model and accessing performance:
def classification_model(model, data, predictors, outcome):
  model.fit(data[predictors],data[outcome].values.ravel())
  
  predictions = model.predict(data[predictors])
  
  accuracy = metrics.accuracy_score(predictions,data[outcome])
  print('Accuracy : %s' % '{0:.3%}'.format(accuracy))

  kf = KFold(n_splits=5)
  error = []
  for train, test in kf.split(data[predictors]):
    train_predictors = (data[predictors].iloc[train,:])
    
    train_target = data[outcome].iloc[train]
    
    model.fit(train_predictors, train_target.values.ravel())
    
    error.append(model.score(data[predictors].iloc[test,:], data[outcome].iloc[test]))
 
  print('Cross-Validation Score : %s' % '{0:.3%}'.format(np.mean(error)))

  return model.fit(data[predictors],data[outcome].values.ravel())

In [42]:

#outcome_var = ['winner']
#predictor_var = ['team1', 'team2', 'venue', 'toss_winner','city','toss_decision']
history=classification_model(model, cvd,predictor_var,outcome_var)

Accuracy : 100.000%
Cross-Validation Score : 93.197%

In [43]:
#inp=list(map(str,[18393,	2,	168,	62.0,	110,	80,	1,	1,	0,	0,	1]))
inp=list(map(str,'63	1	3	145	233	1	0	150	0	2.3	0	0	1'.split()))
inp = np.array(inp).reshape((1, -1))
output=model.predict(inp)

ValueError: ignored

In [32]:
print(output)

[1]

In [44]:
from sklearn.externals import joblib
joblib.dump(model, 'acuteliverfailure.pkl')

['acuteliverfailure.pkl']

In [0]:
import pickle
filename = 'acuteliverfailure.sav'
pickle.dump(model, open(filename, 'wb'))

In [0]:
loaded_model = pickle.load(open(filename, 'rb'))

In [0]:
from sklearn.externals import joblib
import pandas as pd
import numpy as np
#clf = joblib.load('Cardiomodel.pkl')
#inp=list(map(str,[18393,	2,	168,	62.0,	110,	80,	1,	1,	0,	0,	1]))
inp=list(map(str,'20228	1	156	85.0	140	90	3	1	0	0	1'.split()))
inp = np.array(inp).reshape((1, -1))
result = loaded_model.predict(inp)

In [0]:
print(result)

[1]

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
!mv '/content/acuteliverfailure.sav' '/content/drive/My Drive/rackathon/acuteliverfailure.sav'